
<div class="row container " id="sigup">
  <div class="col-md-12 event">

    <form name="form" (ngSubmit)="f.form.valid &&onSubmit()" #f="ngForm" class="needs-validation" novalidate>


      <div class="col-md-12">

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="firstname">firstname</label>

      <input  type="text" class="form-control " name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel"
              placeholder="firstname"   required />
      <div class="valid-tooltip">
        Please enter a message in the textarea.
      </div>
      <div *ngIf="f.submitted && firstname.invalid">
        <div *ngIf="firstname.errors.required">firstname is required</div>

      </div>


    </div>
    <div class="form-group">

      <label for="lastname">lastname</label>

      <input  type="text"  name="lastname" class="form-control" [(ngModel)]="form.lastname" #lastname="ngModel"
              required   placeholder="lastname "/>
      <div *ngIf="f.submitted && lastname.invalid">
        <div *ngIf="lastname.errors.required">lastname is required</div>

      </div>


    </div>
    <div class="form-group">
      <label for="email">email</label>

      <input type="email" class="form-control"  name="email" [(ngModel)]="form.email" #email="ngModel"
             required email placeholder="Enter email"/>
      <div *ngIf="f.submitted && email.invalid">
        <div *ngIf="email.errors.required">email is required</div>

      </div>


    </div>
    <div class="form-group">

      <label for="password">password</label>

      <input type="password"  name="password" class="form-control"[(ngModel)]="form.password" #password="ngModel"
             required  minlength="5" placeholder="password"/>
      <div *ngIf="f.submitted && password.invalid">password required </div>


    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">

      <label for="indexno">indexno</label>

      <input type="text"  class="form-control" name="indexno" [(ngModel)]="form.indexno" #indexno="ngModel"
             required   placeholder="Enter indexno">
      <div *ngIf="f.submitted && indexno.invalid">
        <div *ngIf="indexno.errors.required">indexno is required</div>

      </div>


    </div>
    <div class="form-group">

      <label for="faculty">faculty</label>

      <input type="text" class="form-control" name="faculty" [(ngModel)]="form.faculty" #faculty="ngModel"
             required   placeholder="Enter faculty"/>
      <div *ngIf="f.submitted && faculty.invalid">
        <div *ngIf="faculty.errors.required">faculty is required</div>

      </div>


    </div>
    <div class="form-group">

      <label for="phoneno">phoneno</label>

      <input type="text"  class="form-control" name="phoneno" [(ngModel)]="form.phoneno" #phoneno="ngModel"
             required   placeholder="Enter phoneno">
      <div *ngIf="f.submitted && indexno.invalid">
        <div *ngIf="phoneno.errors.required">phoneno is required</div>

      </div>


    </div>
  </div>
</div>

        <!--</div>-->


        <!--<div class="form-group">-->

          <!--<label for="indexno">indexno</label>-->

          <!--<input type="text"  class="form-control" name="indexno" [(ngModel)]="form.indexno" #indexno="ngModel"-->
                 <!--required   placeholder="Enter indexno">-->
          <!--<div *ngIf="f.submitted && indexno.invalid">-->
            <!--<div *ngIf="indexno.errors.required">indexno is required</div>-->

          <!--</div>-->


        <!--</div>-->


      </div>
      <div class="form-group">
        <div *ngIf="f.submitted&& isSignUpFailed"class="alert alert-warning">
          signup failed!<br/>{{errorMessage}}
        </div>
        <div *ngIf="f.submitted&& isSignedUp"class="alert alert-warning">
          <br/>{{successMessage}}
        </div>
        <button  class="btn btn-primary bu" >signup</button>
        <button  class="btn btn-dark bu" *ngIf="isSignedUp" onclick="gotouserverfy()">to verify</button>
      </div>

    </form>
  </div>
</div>
