
<div class="row container home">
  <div class="panel col-lg-12">

    <!--row1-->
    <div class="row">
      <div class="col-lg-6 sports">
        <button class="btn btn-primary loginbutton" routerLink="createevent" >sports
          <a ></a>
        </button>
        <!--<button class="btn btn-dark signupbutton" onclick="displaysinup()">USER SIGNUP-->
          <!--<a ></a>-->
        <!--</button>-->
      </div>

      <div class="col-lg-6 cultures">

        <button class="btn btn-primary loginbutton" routerLink="createevent">culturel
          <a ></a>
        </button>

        <!--<button class="btn btn-dark signupbutton" onclick="displayasinup()">ADMIN SIGNUP-->
          <!--<a ></a>-->
        <!--</button>-->
      </div>
    </div>

    <!--row2-->
    <div class="row">
      <div class="col-lg-6 compitions">
        <button class="btn btn-primary loginbutton" routerLink="createevent">compitition
          <a ></a>
        </button>
        <!--<button class="btn btn-dark signupbutton" onclick="displaysinup()">USER SIGNUP-->
        <!--<a ></a>-->
        <!--</button>-->
      </div>

      <div class="col-lg-6 conferance">

        <button class="btn btn-primary loginbutton" routerLink="createevent" >conferance
          <a ></a>
        </button>

        <!--<button class="btn btn-dark signupbutton" onclick="displayasinup()">ADMIN SIGNUP-->
        <!--<a ></a>-->
        <!--</button>-->
      </div>
    </div>
  </div>
</div>
