<div class="row container home">
  <div class="panel col-lg-12">
    <div class="row">
      <div class="col-lg-6 userpanel">
        <button class="btn btn-primary loginbutton" routerLink="eventcategory">CREATE EVENT
          <a ></a>
        </button>
        <!--<button class="btn btn-dark signupbutton" onclick="displaysinup()">USER SIGNUP-->
          <!--<a ></a>-->
        <!--</button>-->
      </div>

      <div class="col-lg-6 adminpanel">
        <button class="btn btn-primary loginbutton" routerLink="events" >VIEW EVENT
          <a ></a>
        </button>

        <!--<button class="btn btn-dark signupbutton" onclick="displayasinup()">ADMIN SIGNUP-->
          <!--<a ></a>-->
        <!--</button>-->
      </div>
    </div>
  </div>

</div>

